{% load staticfiles %}
<!doctype html>
<html>
	<head>
		<title>Settings - Mapich</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{% static 'css/reset.css' %}">
		<link rel="stylesheet" href="{% static 'css/header-style.css' %}">
		<link rel="stylesheet" href="{% static 'css/settings-page-style.css' %}">
		<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
		<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
	</head>
	<body>
		<header>
			<!-- Navigation panel -->
			<nav class="navigation">
				<ul>
					<li><a href="base.html">Search</a></li>
					<li><a href="urls.html">Urls</a></li>
					<li><a href="settings.html">Settings</a></li>
					<li><a href="index.html">Add to index</a></li>
				</ul>
			</nav>
		</header>
		<main>
            <div class="setting">
		        <p>Crawling depth: </p><input id="depth" type="text" maxlength="2" value="{{ depth }}">
            </div>
            <input class="setting btn-save" type="button" value="Save" onclick="return save(event)">
		</main>
		<script type="text/javascript">
            function save(e) {
                var depth = "depth:" + document.getElementById("depth").value;
                var settings = "" + depth;
                window.location = "http://127.0.0.1:8000/settings.html?settings=" + settings;
            }
        </script>
	</body>
</html>