{% load staticfiles %}
<!doctype html>
<html>
	<head>
		<title>Settings - Mapich</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="{% static 'css/reset.css' %}">
		<link rel="stylesheet" href="{% static 'css/settings-page-style.css' %}">
		<link rel="stylesheet" href="{% static 'css/header-style.css' %}">
		<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
		<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
	</head>
	<body>
		<header>
			<!-- Navigation panel -->
			<nav class="navigation">
				<ul>
					<li><a href="index.html">Search</a></li>
					<li><a href="settings.html">Settings</a></li>
				</ul>
			</nav>
		</header>
		<main>
		</main>
	</body>
</html>