/*
=============================================
        Page's main part style
=============================================
*/

main {
    padding-top: 60px;
}

/*
=============================================
        Searching paragraph style
=============================================
*/

#par {
	color: #fff;
	font-size: 22px;
	font-family: 'Raleway', serif;
	margin-top: 20px;
	margin-left: 20px;
}

/*
=============================================
        Indexing text-input style
=============================================
*/

#index {
    float: left;
    display: block;
    margin-top: 14px;
    margin-left: 20px;
    width: 500px;
    height: 25px;
    font-size: 15px;
    border-color: aliceblue;
}

#index:hover {
    border-color: #989898;
    transition: 0.2s ease-in-out;
}

/*
=============================================
        Indexing button style
=============================================
*/

#button-index {
    float: left;
    display: block;
    margin-top: 14px;
    margin-left: 10px;
    width: 50px;
    height: 31px;
    font-size: 16px;
    font-family: 'Raleway', serif;
    background: #1d74db;
    border: 1px solid;
    border-color: #1d74db;
    border-radius: 1px;
    color: rgba(255, 255, 255, 0.59);
}

#button-index:hover {
    background: #1563bf;
    border-color: #1563bf;
    color: rgb(255, 255, 255);
    transition: 0.2s ease-in-out;
}

/*
=============================================
        Time displaying paragraph style
=============================================
*/

#time {
    clear: left;
    font-size: 18px;
    font-family: 'Raleway', serif;
    padding-top: 30px;
    margin-left: 20px;
    color: #fff;
}