/* Style of site's main part */

@media screen and (max-height: 1600px) {
    main {
        height: 1428px;
    }
}

@media screen and (max-height: 1080px) {
    main {
        height: 884px;
    }
}

main {
    background: linear-gradient(to bottom, #3288ed, #78c6ff);
    padding-top: 60px;
}