/*
=============================================
        Change of style for header
=============================================
*/

header {
    background: rgba(50, 136, 237, 0.78);
    box-shadow: 0 0 3px #000000;
}

/*
=============================================
        Page's main part style
=============================================
*/

main {
    padding-top: 60px;
}

hr {
	margin-top: 10px;
}

/*
=============================================
        List of URLs style
=============================================
*/

.url {
	margin-left: 40px;
	padding-bottom: 15px;
}

.url ol {
    font-size: 22px;
	font-family: 'Raleway', serif;
    color: #fff;
	list-style-type: circle;
	list-style-position: outside;
}

.url ol li a {
	font-size: 22px;
    color: #fff;
	font-family: 'Raleway', serif;
	text-decoration: none;
}

.url ol li a:hover {
	color: #d1d1d1;
}